
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    color:black(93, 142, 155);
    font-weight: 300;
    padding: 20PX;
    justify-content: space-between;
    width: 100PX;
    align-items: center;
    
}
.logo{
    font-weight: 200px;
}
.nav-link{
    display: flex;
    font-weight: 200;
}
.nav-item{
    display: flex;
    color: black;
    font-weight: 400;
    list-style-type: none;
}




.background{
    background-image: url(./assets/3mountain.jpeg);
    width:100vw ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

   text-align :center ;
   justify-content: flex-end;
   padding-top: 500px;
   align-items: flex-end;
   color:black;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 50px;
}
 H1{
    text-align: center;
    font-weight: 900px;
    text-transform: uppercase;
}
h3{
    text-transform: capitalize;
    font-weight: 700px;

}
.btn{
    margin: 10px;
    border: solid;
    border-radius: 20px;
   height:40px ;
   width: 70px;
   background-color: black;
   color: aliceblue;
}
.btn:hover{
    color:burlywood;

}
.bt{

    border:SOLID;
    border-radius: 20px;
    height:40px ;
    width: 70px;
    background-color: black;
   color: aliceblue;
}
.bt:hover{
    color: burlywood;
}
